/*la primera parte del cuerpo y las fuentes de todas las letras menos el título*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Maven Pro', sans-serif;
  }
/*Esta parte es para utilizar el footer stick */
  main {
    flex: 1 0 auto;
}
/*logo*/
.col.s12.m2 .logo{
  height: 120px;
  width: 250px;
}
/*Aqui va la parte del título de la página*/
.header.center{
  font-size: 45pt;
  margin-top: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #131212;
  text-shadow: 1px 1px 1px #7DC242;
}
/*Aqui va la parte del nav*/
ul.right.hide-on-med-and-down li a {
  color: #000000;
  font-size: 12pt;
}
/*Aqui va la seccion de los iconos del quienes somos,plan de estudio, etc*/
.icon-block{
  padding:0 15px
}
.icon-block .material-icons{
  font-size:inherit
}

.section.no-pad-bot .row{
  margin-bottom: 0;
}

iframe{
  width: -webkit-fill-available;
}
.container h3,.container p,h4,h5{
  text-align:justify
}
.awesome-container{
  font-size:120%;
  width:50%
}
.page-footer, nav {
  background-color: #7DC242;
  color: #201A2E;
}

.card .card-content{
   padding: 4px;
   background-color: #4F4F4F;
 }

.card .card-content .card-title{
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  margin-bottom: 0;
}

.col.l4.offset-l2.s12 h5{
  margin-bottom: 0;
}

.col.l4.offset-l2.s12 ul{
  margin-top: 5px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
  color: #201A2E;
  text-transform: capitalize;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover{
  color: #7DC242;
}

.contactenos a, span, p{
  margin: 0;
}
.conexiones  ul li {
  margin: 0;
}

.row .card-panel {
  padding: 1px;
  margin: 0;
  border-radius: 2px;
}
.contactenos{
  min-height: 139px;
}

.page-footer .container a{
  color: #060131;
}


.container h2{
  font-size: 34px;
}

 div.col.s12 .card{
  background-color: #ecf0f1;
}

#slides, #card{
  background-color: #ecf0f1;
}

h2.center i.material-icons{
  color: #304A00;
}

.collection a.collection-item {
  color: #000000;
}

.inbian{
  margin-top: 20px;
  margin-left: 130px;
}

.autor{
  margin-top: 113px;
  margin-left: 130px;
}

.card.gray.light-8 .card-content.black-text {
  background-color: white;
}


.card-content.black-text p{
  padding-left: 19px;
}


@media screen and (max-width: 1341px){
  .header.center{
    font-size: 34pt;
    margin-left: 48px;
  }
}

@media screen and (max-width: 1054px){
  .header.center{
    font-size: 30pt;
  }
}

@media screen and (max-width: 886px){
  .header.center{
    font-size: 25pt;
    margin-left: 150px;
  }
}

@media screen and (max-width: 648px){
  .header.center{
    font-size: 20pt;
    margin-top: 48px;
    margin-left: 187px;
  }
}

@media screen and (max-width: 595px){
  .header.center{
    font-size: 20pt;
    margin-top: 20px;
    margin-left: 5px;
  }
}


@media screen and (max-width: 500px){

}
